
body{
  text-align: center;
  }

.todo-container {
  display:flexbox;
  justify-content:center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;    
  
}

.todo-input-text, .todo-submit-bttn {  
  font-size: 0.7em;  
}

.todo-list {
  list-style: none;
  
  justify-content: center;   
}

.undone span {
  text-decoration: none;
}

.done span {
  text-decoration:line-through;
  font-style: italic; 
}

.delete-todo, .tick-todo {
  height: 30px;
  display:inline-block;    
}

span.todo-text {    
  min-width:300px;
  display:inline-block;
  text-align:center;
}
